

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.category-link{
  text-decoration: none;
  font-size: large;
  font-weight: 600;
  color: black;
}
.category-link:hover{
  text-decoration: underline;
  font-size: x-large;
  color: gray;
}
